/* Variables */

:root {
    --text: clamp(1rem, 2rem, 3rem);

    --size--2: clamp(0.69rem, 0.63rem + 0.31vw, 1.36rem);
    --size--1: clamp(0.83rem, 0.74rem + 0.40vw, 1.70rem);
    --size-0: clamp(1.00rem, 0.88rem + 0.52vw, 2.13rem);
    --size-1: clamp(1.20rem, 1.05rem + 0.67vw, 2.66rem);
    --size-2: clamp(1.44rem, 1.25rem + 0.86vw, 3.32rem);
    --size-3: clamp(1.73rem, 1.48rem + 1.11vw, 4.15rem);
    --size-4: clamp(2.07rem, 1.75rem + 1.43vw, 5.19rem);
    --size-5: clamp(2.49rem, 2.07rem + 1.84vw, 6.49rem);

    --active-index: 0;

    --primaryColor: #202020;
    --secondaryColor: #2ec4b6;
    --tertiaryColor: #f0c808;
    --fourthColor: #dd1c1a;
    --fifthColor: #c1bddb;
    --sixthColor: #6b7fd7;

    --bgPattern: radial-gradient(rgba(2255, 255, 255, 0.1) 9%, transparent 9%);
    --bgImage1: url(../images/background.png);
}

/* Global styling */

* {
    box-sizing: border-box;
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
    /* border: red solid; */
    /* ^ Check if everything is the size it needs to be */
}

body {
    background-color: var(--primaryColor);
    color: white;
    margin: 0px;
}

a {
    color: bisque;
    text-decoration-color: darkgoldenrod;
}

/* Specific styling */

.background--tsp {
    background-color: rgba(null, null, null, 0.3)
}

.no--margin {
    margin: 0;
}

.credits {
    font-size: 0.7em;
    position: absolute;
    right: 2vw;
    bottom: 10vh;
    z-index: 9;
}

.brand {
    font-style: italic;
}

.screen {
    height: 100vh;
}

.flex {
    display: flex;
}

.title {
    font-size: var(--size-5);
}

.title--sub {
    font-size: var(--size-3);
}

.text {
    font-size: var(--size-0);
}

.text--XS {
    font-size: var(--size--1);
}

.text--black {
    color: var(--primaryColor);
}

.text--white {
    color:white;
}

.title--uppercase {
    text-transform: uppercase;
    text-decoration: underline;
}

.justify {
    text-align: justify;
}

/* Will be on all pages beside index.html */

#back {
    z-index: 10;

    height: 4rem;
    width: 4rem;
    left: 1rem;
    top: -1rem;

    position: fixed;

    transform: translateX(-50%);
    background-color: rgb(130, 21, 219);
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    border: none;
    border-radius: 5rem;

    outline: none;
    cursor: pointer;

    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#back:hover {
    background-color: aquamarine;
    transform: translateX(-50%) scale(1.5);
}

/* Menu styling */

#menu__items {
    margin-left: clamp(1rem, 10%, 48rem);
    position: relative;
    z-index: 2;
}

#menu {
    align-items: center;
}

.menu__link {
    font-size: clamp(2rem, 3vw, 8rem);

    color: white;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 350ms ease;
}

/* When hovering the menu, phase out the unselected elements   and phase in the selected one */

#menu__items:hover>.menu__link:not(:hover) {
    opacity: 0.3;
}

/* Background styling & interactivity */

#menu--background {
    height: 100vh;
    width: 100vw;

    background-image: var(--bgPattern);

    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu--background--image {
    height: 100%;
    width: 100%;

    background-image: var(--bgImage1);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    background-position: center;
    background-size: 110vmax;
    opacity: 0.3;

    transition: opacity 2000ms ease,
        background-size 2000ms ease,
        background-position 2000ms ease;
}

#menu__items:hover~#menu--background--image {
    background-size: 100vmax;
    opacity: 0.15;
}

#menu__items:hover~#menu--background {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu--background {
    background-position: 0% calc(-25% * (var(--active-index, 0) + 1));
}

#menu--background--image {
    background-position: center calc(30% * var(--active-index, 0));
}

/* curriculum page styling */

#CV__section--container {
    z-index: 2;

    width: 100%;
    height: 100%;

    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;

    transition: transform 1.5s;
}

#top {
    background: rgb(32, 32, 32);
    background: linear-gradient(90deg, rgba(32, 32, 32, 1) 8%, rgba(73, 73, 73, 1) 21%, rgba(144, 140, 139, 1) 34%);
}

#comp {
    background: rgb(153, 149, 145);
    background: linear-gradient(0deg, rgba(153, 149, 145, 1) 0%, rgba(167, 163, 161, 1) 33%, rgba(185, 180, 176, 1) 66%, rgba(189, 185, 181, 1) 100%);
    flex-direction: column;
}

#forma {
    background: rgb(104, 134, 142);
    background: linear-gradient(0deg, rgba(104, 134, 142, 1) 0%, rgba(128, 156, 162, 1) 16%, rgba(119, 157, 167, 1) 23%, rgba(88, 157, 172, 1) 33.5%, rgba(141, 164, 168, 1) 34%, rgba(146, 168, 170, 1) 49%, rgba(129, 158, 164, 1) 66%, rgba(127, 156, 163, 1) 83%, rgba(213, 213, 212, 1) 85%, rgba(219, 212, 211, 1) 100%);
}

#other {
    background: rgb(118, 125, 137);
    background: linear-gradient(0deg, rgba(118, 125, 137, 1) 0%, rgba(98, 108, 116, 1) 50%, rgba(128, 131, 130, 1) 100%);
}

#top,
#comp,
#exp,
#forma,
#other {
    padding-top: 3rem;
}

#top__side {
    background-image: url(../images/novelAIBG2.png);
}

#comp__side {
    background-image: url(../images/novelAIBG6.png);
}

#exp__side {
    background-image: url(../images/novelAIBG7.png);
}

#forma__side {
    background-image: url(../images/novelAIBG9.png);
}

#other__side {
    background-image: url(../images/novelAIBG3.png);
}

#top__side,
#comp__side,
#exp__side,
#forma__side,
#other__side {
    z-index: -1;

    position: absolute;

    left: 40vw;
    top: 0;
    height: 100%;
    width: 60vw;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow: hidden;
}

#comp__side {
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
}

.top--name {
    margin-bottom: 0.5;
    z-index: 0;
}

.top--qual {
    letter-spacing: -0.015em;
    margin-top: 0;
}

.CV__section {
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

    z-index: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    backface-visibility: hidden;
}

.top__section,
.comp__section,
.comp__section__code,
.forma__section,
.other__section {
    background-color: rgba(193, 189, 219, 0.7);
    color: var(--primaryColor);

    padding: 1rem;

    margin-left: 5rem;
    margin-right: 3rem;
    border-radius: 1rem;
    height: fit-content;
}

.comp__section__code {
    margin-top: 1rem;
}


/* experiences timeline */

#timeline {
    width: 100%;
    height: 500px;
    position: relative;

    flex-wrap: wrap;
}

#timeline--line {
    width: 86vw;
    height: 0.5rem;
    top: 50%;
    left: 5vw;
    position: absolute;

    background-color: var(--tertiaryColor);
}

.timeline--item {
    position: absolute;
    top: 51%;
    width: 5rem;
    height: 5rem;

    transform: translate(-50%, -50%);
}

.circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: relative;

    transition: all 300ms ease-in-out;

    background-color: var(--secondaryColor);
}

.textbox {
    width: 12rem;
    height: 6rem;
    position: absolute;
    padding: 0.5rem;
    padding-top: 1rem;

    background-color: var(--fifthColor);
    color: var(--primaryColor);
    border-radius: 1rem;

    text-align: center;
    opacity: 0;
    visibility: hidden;

    transition: all 500ms ease-in-out;
}

#textbox1,
#textbox3,
#textbox5,
#textbox7 {
    top: -12vw;
}

#textbox2,
#textbox4,
#textbox6 {
    top: 9vw;
}

#circle1 {
    left: 12vw;
}

#circle2 {
    left: 24vw;
}

#circle3 {
    left: 36vw;
}

#circle4 {
    left: 48vw;
}

#circle5 {
    left: 60vw;
}

#circle6 {
    left: 72vw;
}

#circle7 {
    left: 84vw;
}

#textbox1 {
    left: 7vw;
}

#textbox2 {
    left: 19vw;
}

#textbox3 {
    left: 31vw;
}

#textbox4 {
    left: 43vw;
}

#textbox5 {
    left: 55vw;
}

#textbox6 {
    left: 67vw;
}

#textbox7 {
    left: 79vw;
}

.circle:hover {
    background-color: var(--sixthColor);
}

.circle:hover~.textbox {
    visibility: visible;
    opacity: 1;
}

/* Animations */

.previous-section-up {
    animation: slide-out-up 0.5s forwards;
}

.previous-section-down {
    animation: slide-out-down 0.5s forwards;
}

.active-section-up {
    visibility: visible;

    animation: slide-in-up 0.5s forwards;
}

.active-section-down {
    visibility: visible;

    animation: slide-in-down 0.5s forwards;
}

.previous-section-up,
.previous-section-down,
.active-section-up,
.active-section-down {
    transition: all 1s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-angle-up, .fa-angle-down {
    background-color: var(--primaryColor);
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
    border-style: groove;
    border-radius: 20%;

    z-index: 10;

    position: absolute;
    left: 1rem;

    transition: all 500ms ease-in-out 0s;
}

.fa-angle-up:hover, .fa-angle-down:hover {
    background-color: var(--secondaryColor);
    border-color: var(--primaryColor);
    color: var(--primaryColor);
}

.fa-angle-up {
    top: 5rem;
}

.fa-angle-down {
    bottom: 5rem;
}


@keyframes slide-out-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slide-out-down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slide-in-up {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-down {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Other pages */

#about {
    background-image: url(../images/novelAIBG10.png);
}

#portfolio {
    background-image: url(../images/novelAIBG12.png);
}

#contact {
    background-image: url(../images/novelAIBG5.png);
}

#about,
#portfolio,
#contact {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#about__section,
#portfolio__section,
#contact__section {
    background-color: rgba(193, 189, 219, 0.7);
    color: var(--primaryColor);
    border-radius: 3%;

    margin: 5rem;
    padding: 3rem;
    flex-direction: column;
}