/* Variables */

:root {
    --bgColor: #202020;
    --bgImage1: url(../images/background.png);
    --bgPattern: radial-gradient(rgba(2255, 255, 255, 0.1) 9%, transparent 9%);

    --bgImageS1: url(../images/frog.jpg);
    --bgImageS2: url(../images/Art_planet.png);
    --bgImageS3: url(../images/Art_planet_middle.png);
    --bgImageS4: url(../images/Art_planet_final.png);
    --bgImageS5: url(../images/top_bg-home.png);

    --bigText: clamp(2em, 3vw, 8rem);

    --active-index: 0;
}

/* Global styling */

* {
    box-sizing: border-box;
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
    /* border: red solid; */
    /* ^ Check if everything is the size it needs to be */
}

body {
    background-color: var(--bgColor);
    color: white;
    margin: 0px;
}

a {
    color: bisque;
    text-decoration-color: darkgoldenrod;
}

/* Specific styling */

.background--tsp {
    background-color: rgba(null, null, null, 0.3)
}

.no--margin {
    margin: 0;
}

.credits {
    font-size: 0.7em;
    position: absolute;
    right: 0;
    z-index: 9;
}

.brand {
    font-style: italic;
}

.screen {
    height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
}

.title--big {
    font-size: var(--bigText);
}

.title {
    text-transform: uppercase;
    text-decoration: underline;
}

/* Menu styling */

#menu__items {
    margin-left: clamp(1rem, 10%, 48rem);
    position: relative;
    z-index: 2;
}

.menu__link {
    color: white;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 350ms ease;
}

/* When hovering the menu, phase out the unselected elements   and phase in the selected one */

#menu__items:hover>.menu__link:not(:hover) {
    opacity: 0.3;
}

/* Background styling & interactivity */

#menu--background {
    height: 100vh;
    width: 100vw;

    background-image: var(--bgPattern);

    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu--background--image {
    height: 100%;
    width: 100%;

    background-image: var(--bgImage1);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    background-position: center;
    background-size: 110vmax;
    opacity: 0.3;

    transition: opacity 2000ms ease,
        background-size 2000ms ease,
        background-position 2000ms ease;
}

#menu__items:hover~#menu--background--image {
    background-size: 100vmax;
    opacity: 0.15;
}

#menu__items:hover~#menu--background {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu--background {
    background-position: 0% calc(-25% * (var(--active-index, 0) + 1));
}

#menu--background--image {
    background-position: center calc(30% * var(--active-index, 0));
}

/* curriculum page styling */

#CV__section--container {
    z-index: 2;

    width: 100%;
    height: 100%;

    position: absolute;
    overflow: hidden
    ;
    top: 0;
    left: 0;

    transition: transform 1.5s;
}

#top {
    background-image: var(--bgImageS1);
}

#comp {
    background-image: var(--bgImageS2);
}

#exp {
    background-image: var(--bgImageS3);
}

#forma {
    background-image: var(--bgImageS4);
}

#other {
    background-image: var(--bgImageS5);
}

.top--name {
    margin-bottom: 0.5;
    z-index: 0;
}

.top--qual {
    letter-spacing: -0.015em;
    margin-top: 0;
}

.CV__section {
    height: 100vh;
    width: 100vw;

    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    display: block;
    visibility: hidden;

    z-index: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    backface-visibility: hidden;
}

/* Animations */

.previous-section-up {
    animation: slide-out-up 0.5s forwards;
}

.previous-section-down {
    animation: slide-out-down 0.5s forwards;
}

.active-section-up {
    visibility: visible;

    animation: slide-in-up 0.5s forwards;
}

.active-section-down {
    visibility: visible;

    animation: slide-in-down 0.5s forwards;
}

.previous-section-up, .previous-section-down, .active-section-up, .active-section-down {
    transition: all 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-out-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slide-out-down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slide-in-up {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-down {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
